body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: white;
  background-image: linear-gradient(to right, white, rgb(209, 209, 209));
  font-style:bold;
}
.text{
  font-family: 'Lato', sans-serif;
  font-style:bold;
  text-align: center;
}
#help{
  color:white;
  position:relative;
  left: 10px;
  bottom:60px;
 
}

.help-button-container{
  background-color: rgb(66, 144, 233);
  height: 180px;
  background-image: linear-gradient(to right, rgb(66, 144, 233), rgb(0, 58, 124));
}

.fa-question-circle{
  margin:10px;
  color:white;
}
.flex-container {
    display: flex;
    background-color: rgb(66, 144, 233);
    background-image: linear-gradient(to right, rgb(66, 144, 233), rgb(0, 87, 187));
    width:500px;
    padding:10px;
    margin:20px;
    border-style: solid;
  }
  
.flex-container:hover{
    transform:scale(1.04,1.04);
    -webkit-transform:scale(1.04,1.04);
    -moz-transform:scale(1.04,1.04);
    cursor: pointer;
}
.flex-container span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.8s;
  }

.flex-container span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    transition: 0.5s;
  }
  
.flex-container:hover span {
    padding-right: 15px;
  }
  
.flex-container:hover span:after {
    opacity: 1;
    right: 0;
  }

.flex-box{
  color:white;
}

.input-container{
  border-style:solid;
  height:200px;
  width:400px;
  position:fixed;
  left:650px;
  bottom: 500px;
}

#input-box{
  padding: 10px;
  height:190px;
  width:390px;
}

.submit-button-container{
  border-style:solid;
  height:50px;
  width:150px;
  position:fixed;
  left: 775px;
  bottom: 440px;
  background-image: linear-gradient(to right, rgb(66, 144, 233), rgb(0, 58, 124));
}

.submit-button-container:hover{
  cursor:pointer;
  transform:scale(1.04,1.04);
  -webkit-transform:scale(1.04,1.04);
  -moz-transform:scale(1.04,1.04);
}

.submit-button{
  color:white;
  font-style:bold;
}

